.blog-post-container {
	padding: 25px 0px;

	.sub-title {
		display: inline-block;
		font-size: 2rem;
		font-weight: 700;
		padding-bottom: 5px;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	ul {
		list-style-type: square;
		padding-left: 20px;
	}

	p {
		padding-left: 20px;
	}

	.code-block {
		background-color: lighten($charcoal-grey, 65%);
		font-size: 1.4rem;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 10px;

		p {
			color: #e83e8c;
			font-family: Mono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
		}
		.indent-1 {
			padding-left: 40px;
		}
		.indent-2 {
			padding-left: 60px;
		}
	}

	.body-text {
		font-size: 1.7rem;
		margin-bottom: 15px;

		a {
			font-weight: 600;
		}

		code {
			padding: 2px;
			background-color: lighten($charcoal-grey, 65%);
		}

		strong {
			padding: 2px;
			background-color: lighten($charcoal-grey, 65%);
		}
	}

	.download-file-container {
		text-align: center;
		padding: 15px;

		.filename {
			font-family: 'Raleway', sans-serif;
			text-align: center;
			font-size: 1.7rem;
			padding: 10px;
			margin-bottom: 0px;
		}

		icon {
			transition: all 200ms ease-in-out;
			color: $charcoal-grey;
			font-size: 5.5rem;
		}

		icon:hover {
			transform: scale(1.1);
		}
	}
}

@media (min-width: 576px) {
	
	.blog-post-container {
		padding: 25px 25px;

		ul {
			padding-left: 40px;
		}
	}

}