<div class="blog-header-container">

	<div class="breadcrumb-container" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/blog">Blog</a></li>
			<li class="breadcrumb-item active" aria-current="page">
				<%= blogData.id %>
			</li>
		</ol>
	</div>

	<h1 class="title">
		<%= blogData.title %>
		</li>
	</h1>

	<p class="date">
		<%= blogData.date %>
		</li>
	</p>

</div>