</div>
</div>

<footer class="custom-footer">

	<div class="social-media-container">
		<div class="social-media">
			<a href="https://www.instagram.com/danielgibbonsx">
				<icon class="fab fa-instagram"></icon>
			</a>
		</div>
		<div class="social-media">
			<a href="https://uk.linkedin.com/in/dgibbons1">
				<icon class="fab fa-linkedin"></icon>
			</a>
		</div>
		<div class="social-media">
			<a href="https://github.com/DanielGibbons">
				<icon class="fab fa-github"></icon>
			</a>
		</div>
		<div class="social-media">
			<a href="https://www.strava.com/athletes/3681345">
				<icon class="fab fa-strava"></icon>
			</a>
		</div>
	</div>

	<p class="copyright-notice">Copyright &copy; 2019 - Dan Gibbons</p>

	<div class="scroll-top-arrow-container">
		<icon class="fas fa-arrow-up scroll-top-arrow"></icon>
	</div>
</footer>

<script src="/javascripts/jQuery/jquery-3.4.1.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/custom/site.js"></script>
<script src="/javascripts/prism/prism.js"></script>

</body>

</html>