<%- include('shared/_header.ejs', {viewData: viewData}) %>

<div class="page-title-container">
	<h1 class="page-title">
		Playground
	</h1>
</div>

<div class="playground-container">

	<div class="row justify-content-center">
		<div class="col-12 col-md-8 align-self-center">
			<p class="playground-description custom-border">
				<strong>NOTE:</strong> This page has no real purpose. As the title suggests: a playground.
			</p>
			<p class="playground-description custom-border">
				<strong>Work in progress.</strong>
			</p>

		</div>
	</div>

</div>

<%- include('shared/_footer.ejs') %>