<%- include('shared/_header.ejs', {viewData: viewData}) %>

<div class="page-title-container">
	<h1 class="page-title">
		Playground
	</h1>
</div>

<div class="playground-container">

	<div class="row justify-content-center">
		<div class="col-12 custom-column align-self-center">
			<p class="body-text centre custom-border">
				<strong>NOTE:</strong> This page has no real purpose. A playground/noteboard.
			</p>
		</div>
		<div class="col-12 col-md-8 custom-column align-self-center">
			<div class="todos custom-border">
				<div class="sub-title-container centre">
					<h2 class="sub-title">TODOs/Wishlist</h2>
				</div>
				<ul class="body-text">
					<li>Create app infrastructure and provision with Terraform</li>
					<li>Integrate app with a database</li>
					<li>Add commenting/favouriting functionality to blog posts</li>
					<li>More content</li>
					<li>Add search functionality to Blog and Projects pages</li>
				</ul>
			</div>
		</div>
	</div>

</div>

<%- include('shared/_footer.ejs') %>