<%- include('shared/_header.ejs', {viewData: viewData}) %>

<div class="posts-container">

	<div class="page-title-container">
		<h1 class="page-title">
			Posts
		</h1>
	</div>

</div>

<%- include('shared/_footer.ejs') %>