@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap&subset=latin-ext");
body {
  font-family: 'Raleway', sans-serif; }

.page {
  margin-top: 56px; }

.navbar-line {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
