@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap&subset=latin-ext");
html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif; }

.page {
  position: relative;
  z-index: 500;
  top: 87.25px;
  margin-bottom: 87.25px; }

.view {
  padding: 50px 0px;
  width: 75%;
  margin-left: auto;
  margin-right: auto; }

.page-title-container {
  text-align: center; }
  .page-title-container .page-title {
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 4px solid #ff0000; }

.custom-column {
  padding: 15px; }

.custom-border {
  transition: all 200ms ease-in-out;
  padding: 10px;
  border: 2px solid #717171;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); }

.tags-container {
  margin: 4px 0px; }
  .tags-container .tag {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 2px;
    margin: 4px 2.5px;
    color: #585858; }
    .tags-container .tag .tag-icon {
      display: inline-block;
      font-size: 1.2rem; }
    .tags-container .tag .tag-name {
      display: inline-block;
      font-size: 1.2rem;
      margin: 0px 0px; }
    .tags-container .tag.arm {
      border-color: #ffb733;
      background-color: #ffedcc; }
    .tags-container .tag.cortex-m {
      border-color: #ff3333;
      background-color: #ffcccc; }
    .tags-container .tag.java {
      border-color: #00b300;
      background-color: #4dff4d; }
    .tags-container .tag.android {
      border-color: #ff3333;
      background-color: #ffcccc; }
    .tags-container .tag.python {
      border-color: #3333ff;
      background-color: #ccccff; }
    .tags-container .tag.opencv {
      border-color: #cc3636;
      background-color: #ebb0b0; }
    .tags-container .tag.ml {
      border-color: #6ce7db;
      background-color: #f0fcfb; }
    .tags-container .tag.cmsis-nn {
      border-color: #b300b3;
      background-color: #ff4dff; }
    .tags-container .tag.azure {
      border-color: #b300b3;
      background-color: #ff4dff; }
    .tags-container .tag.terraform {
      border-color: #00b300;
      background-color: #4dff4d; }
    .tags-container .tag.devops {
      border-color: #3333ff;
      background-color: #ccccff; }
    .tags-container .tag.node.js {
      border-color: #b300b3;
      background-color: #ff4dff; }
    .tags-container .tag.scss {
      border-color: #00b300;
      background-color: #4dff4d; }
    .tags-container .tag.bootstrap-4 {
      border-color: #3333ff;
      background-color: #ccccff; }

@media (min-width: 576px) {
  .page-title-container {
    text-align: left; }
    .page-title-container .page-title {
      margin-left: 10%; } }

.custom-navbar {
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600; }
  .custom-navbar .navbar-brand {
    font-size: 2.5rem;
    transition: all 200ms ease-in-out; }
  .custom-navbar .navbar-brand:hover {
    transform: scale(1.1); }
  .custom-navbar .nav-item {
    padding-left: 5px;
    padding-right: 5px; }
  .custom-navbar .nav-link {
    font-size: 2rem;
    position: relative; }
  .custom-navbar .nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  .custom-navbar .nav-link:hover:after {
    width: 100%;
    left: 0; }

.color-bar {
  z-index: 900;
  position: fixed;
  top: 83.25px;
  margin-left: -10px;
  left: 0px;
  right: 0px;
  border: none;
  font-size: 0px; }
  .color-bar .bar {
    border: none;
    display: inline-block;
    width: 16.6667%;
    padding: 0; }
  .color-bar .bar-1 {
    border-top: 4px solid #3498db; }
  .color-bar .bar-2 {
    border-top: 4px solid #e74c3c; }
  .color-bar .bar-3 {
    border-top: 4px solid #2ecc71; }
  .color-bar .bar-4 {
    border-top: 4px solid #f1c40f; }
  .color-bar .bar-5 {
    border-top: 4px solid #95a5a6; }
  .color-bar .bar-6 {
    border-top: 4px solid #9b59b6; }

@media (min-width: 991px) {
  .color-bar {
    top: 83.25px; } }

.custom-footer {
  background: #3e3e3e;
  padding-top: 30px;
  padding-bottom: 30px; }
  .custom-footer .social-media-container {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 0px auto; }
    .custom-footer .social-media-container .social-media {
      padding-left: 15px;
      padding-right: 15px; }
      .custom-footer .social-media-container .social-media a {
        color: #fff;
        font-size: 3.2rem; }
        .custom-footer .social-media-container .social-media a icon {
          transition: all 200ms ease-in-out; }
      .custom-footer .social-media-container .social-media a:hover {
        color: #b3b3b3; }
        .custom-footer .social-media-container .social-media a:hover icon {
          transform: scale(1.2); }
  .custom-footer .copyright-notice {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 10px; }
  .custom-footer .scroll-top-arrow-container {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin-top: 10px; }
    .custom-footer .scroll-top-arrow-container .scroll-top-arrow {
      transition: all 200ms ease-in-out; }
    .custom-footer .scroll-top-arrow-container .scroll-top-arrow:hover {
      transform: scale(1.2); }

.blog-header-container div.breadcrumb-container {
  background-color: #e4e4e4;
  height: auto; }
  .blog-header-container div.breadcrumb-container ol.breadcrumb {
    background-color: #e4e4e4;
    display: table;
    margin-top: 10px;
    font-size: 1.7rem; }
    .blog-header-container div.breadcrumb-container ol.breadcrumb .breadcrumb-item {
      padding: 5px;
      display: table-cell;
      vertical-align: middle; }
      .blog-header-container div.breadcrumb-container ol.breadcrumb .breadcrumb-item a {
        all: unset;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        color: #3e3e3e;
        padding: 5px;
        position: relative; }
      .blog-header-container div.breadcrumb-container ol.breadcrumb .breadcrumb-item a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0; }
      .blog-header-container div.breadcrumb-container ol.breadcrumb .breadcrumb-item a:hover:after {
        width: 100%;
        left: 0; }

.blog-header-container .title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 4px solid #ff0000; }

.blog-header-container .date {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5px; }

.about-container .mugshot {
  width: 50%;
  margin: 10px auto; }
  .about-container .mugshot img {
    width: 100%;
    height: auto;
    padding: 2px;
    border: 2px solid #717171;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); }

.about-container .about-description {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 25px; }
  .about-container .about-description icon {
    color: #f00; }

.about-container .site-description {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 25px; }
  .about-container .site-description strong {
    font-weight: 700; }

@media (min-width: 576px) {
  .about-container .about-description {
    margin-top: 0px;
    margin-bottom: 0px; } }

.posts-container {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%; }
  .posts-container .post a {
    all: unset;
    cursor: pointer; }
  .posts-container .post .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px 0px; }
  .posts-container .post .date {
    font-size: 2rem;
    margin: 5px 0px; }
  .posts-container .post .description {
    font-size: 1.7rem;
    margin: 5px 0px; }
  .posts-container .post:hover {
    transform: scale(1.05); }

.projects-container {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%; }
  .projects-container a {
    all: unset;
    cursor: pointer; }
  .projects-container .project .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px 0px; }
  .projects-container .project .description {
    font-size: 1.7rem;
    margin: 5px 0px; }
  .projects-container .project .social-media .github {
    color: #3e3e3e;
    font-size: 2.5rem; }
  .projects-container .project .social-media .github:hover {
    color: #8b8b8b; }
  .projects-container .project .social-media .youtube {
    color: #f00;
    font-size: 2.5rem; }
  .projects-container .project .social-media .youtube:hover {
    color: #ff9999; }

.playground-container .playground-description {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 25px; }
  .playground-container .playground-description strong {
    font-weight: 700; }

.blog-post-container {
  padding: 25px; }
  .blog-post-container .blog-text {
    font-size: 1.7rem; }
