<%- include('../shared/_header.ejs', {viewData: viewData}) %>

<%- include('../shared/_blog-header.ejs', {blogData: blogData}) %>

<div class="blog-post-container">
	<p class="blog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ex cupiditate consequatur
		blanditiis accusamus
		dolore, nihil tempora voluptatum aspernatur vitae? Doloremque soluta natus, ex repellendus, labore non, sunt quia aut
		dolorum veniam eius! Aliquam qui voluptates, aspernatur nisi repudiandae dolorem perspiciatis? Tenetur, sapiente
		perspiciatis perferendis earum minus praesentium aut, velit et saepe aliquid magnam! Et, at eos dolorem, voluptatum
		sunt officiis odit consequuntur quisquam, aliquid excepturi obcaecati. Deserunt dolor tenetur at, nostrum quo
		nesciunt! Nulla, dignissimos ea, quasi illo vitae est a corporis itaque fugit nam similique temporibus amet
		perferendis reiciendis numquam alias obcaecati doloremque? Dolorum debitis non laboriosam tempore?</p>

</div>

<%- include('../shared/_footer.ejs') %>